<div>
    <p>An email has been sent to the primary email address of the account (if exists) on the instruction for password reset.</p>
    <p>You'll have 12 hours to reset the password, beyond which you'll need to re-request for reset.</p>
</div>
