<div>
    <p>Hi,</p>
    <p>You might have requested for password reset for your account on {{ siteName }}.</p>

    <p>If you did not request for password request, just disregard this email - there are no action you need to take.</p>

    <p>If you did request for the reset, click on the following link within the next 12 hours to reset your password.</p>

    <p>{{ resetUrl }}</p>

    <p>Thanks,</p>

    <p>{{ ourTitle }}</p>
</div>
