<div>
    <p>
        Hi,
    </p>

    <p>You might have requested for forgotten username on {{ siteName }} - if you didn't request for the information,
    you can safely disregard this email, as you do not need to take any action.</p>

    <p>Your user name is:
    </p>

    <p>{{ login }}</p>

    <p>Thanks,</p>

    <p>{{ ourName }}</p>
</div>
